<style type="text/css">
    .page-ft {
        height: 178px;
        background-color: #e3e3e3;
    }

    .page-ft > div {
        text-align: center;
    }

    .page-ft .ft-logo {
        margin: 50px auto 20px;
    }

    .page-ft .ft-wd > a {
        color: rgb(134, 134, 134);
        margin-right: 10px;
        padding-left: 10px;
        border-left: 1px double #949494
    }
    .page-ft .ft-wd > a:first-child {
        padding-left: 0px;
        border-left: 0px none #949494
    }
</style>
<div class="page-ft">
    <div>
        <img class="ft-logo" src="../resources/images/logo/logo.png">
        <p class="ft-wd">
            <a href="#" target="_blank">操作手侧下载</a>
            <a href="#" target="_blank">见问题处理办法</a>
            <a href="#" target="_blank">联系我们</a>
            <a href="#" target="_blank">意见反馈</a>
        </p>
    </div>
</div>

