body {
    font-family: "Microsoft YaHei";
    font-size: 12px;
}

.page-content-bg {
    background-color: #f7f7f7;
    padding-bottom: 40px;
}

/*width：63%*/
/*@media (min-width: 1200px) {*/
/*.page-content {*/
/*max-width: 820px;*/
/*margin: 0px 150px;*/
/*overflow: hidden;*/
/*}*/
/*}*/

/*@media (min-width: 1411px) {*/
/**/
/*}*/
.page-content {
    max-width: 1100px;
    margin: 0px 210px;
    overflow: hidden;
}

/*--面包屑导航--*/
.breadcrumb-me {
    margin: 0px;
    padding: 20px 15px;
    height: 50px;
    background-color: #fff;
}

.breadcrumb-me > li + li:before {
    content: "> ";
}

/*--modal--*/
.modal-dialog {
    margin-top: 10%;
}

.modal-content {
    border-radius: 0px;
}

.modal-header {
    background-color: #ededed;
}

.modal-title {
    font-size: 16px;
    font-weight: bold;
}

.modal-footer-center {
    text-align: center;
    margin-bottom: 20px;
}

.modal-footer-center .btn-primary {
    height: 40px;
    width: 280px;
    background-color: #1865b3;
}

.modal-footer-center .normal-button {
    margin-right: 10px;
    height: 40px;
    width: 120px;
    background-color: #1865b3;
    border-color: #1865b3;
}

.modal-footer-center .cancel-button {
    background-color: #c1c1c1;
    border-color: #c1c1c1;
}

/*--table--*/
.simple-table > thead > tr {
    background-color: #f3f3f3;
    border: 1px solid #dedede;
}

.simple-table > thead > tr > th {
    vertical-align: middle;
    text-align: center;
    border-bottom-width: 0px;
}

.simple-table > tbody > tr {
    vertical-align: middle;
    border-bottom: 1px dashed #dedede;
}

.simple-table > tbody > tr > td {
    vertical-align: middle;
    text-align: center;
    border-width: 0px;
}

/**/
.input-straight {
    height: 40px;
    border-radius: 0px;
    border-color: #e5e5e5;
}

.h4-title {
    margin-bottom: 20px;
    display: inline-block;
    color: #272727;
    font-weight: bold;
}

.radius-ie8 {
    behavior: url(../resources/js/PIE.htc);
}

/*上一页 下一页*/
.page-turn {
    padding: 13px 30px;
    height: 50px;
}

.page-turn > p {
    text-align: right;
}

.page-turn > p > button {
    width: 60px;
    height: 25px;
}

.page-turn > p > span {
    padding: 7px;
}



